<head>
		<meta charset="utf-8">
</head>
<!--  chargement de vueJs il faut sans doute le trouver aure part ->
<script src="https://unpkg.com/vue"></script -->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production version, optimized for size and speed ->
<script src="https://cdn.jsdelivr.net/npm/vue"></script -->
<link 	rel="stylesheet" 
		type="text/css" 
		href="css/menu-cantine.css"/>
<body>
<a href="api/hello" type="application/json" target="json">json</a>
<div id="menucantine">

	<h1>Menu Cantine:</h1><h2> du {{ debutPeriode }} au {{ finPeriode }}</h2>
	
	<section class="semaine" >
	<article class="jour" v-for="jour in jours"> 
			<header><h3>{{ jour.jour }}</h3>{{ jour.date }}</header>
			<main>
				<article class="service" v-for="service in jour.destinations">
					<header>{{ service.name }}</header>
					<main>						
						<article 	v-for="partie in service.menu" 
									v-bind:class="['partie', 'rank'+partie.rank]" >
						<header><h1>{{ partie.choix[0].family }}</h1></header>
						<article 	class="choix" 
									v-for="choix in partie.choix"> {{ choix.name }}</article>
						</article>
					</main>
				</article>
				
			</main>
	
	</article>
	</section>
	

</div>
</body>

<script>
//	var data = new FormData();
//	data.append( "json", JSON.stringify({content: 'testPost'}));
	
	var initPost = {  
			headers: {
				'Accept': 'application/json',
	      		'Content-Type': 'application/json',
	      		'X-COM-PERSIST': 'TRUE',
	    	},
	    	method: 'post', 
	    	credentials: "same-origin",
	 //   	mode: "cors",
	    	body: '{"semaine": 6, "annee": 2019, "uai": "0180823X" }',
	    };
	var initGet = { method: 'GET', };
	
	const menuCantine = new Vue({
		el: '#menucantine',
		data: {	
			menuSemaine: '',
			debutPeriode: '',
			finPeriode: '',
			jours: ''
		},
		
		created () {
			 fetch('api/hello', initPost)
				.then(response => response.json())
				.then(json => {
						this.menuSemaine = json;
						this.debutPeriode = json.debut;
						this.finPeriode = json.fin;
						this.jours = json.jours;
					}
				);
		},

	})
</script>
