<head>
		<meta charset="utf-8">
</head>

<script src="js/dist/vue.js"></script>
<script src="js/dist/vue-glide.umd.js"></script>
<link 	rel="stylesheet" 
		type="text/css" 
		href="css/vue-glade.css"/>

<!-- production version, optimized for size and speed  vue.min.js
-->
<link 	rel="stylesheet" 
		type="text/css" 
		href="css/menu-cantine.css"/>
<body>
<a href="api/hello" type="application/json" target="json">json</a>



<div id="menucantine">
	<select v-model="selected" @change="loadMenu();" >
	  <option disabled value="">Choisissez</option>
	  <option value="0450782F">lycée VOLTAIRE</option>
	  <option value="0370038R">lycée GRANDMONT</option>
	  <option value="0370032J">lycée CLOUET</option>
	  <option value="0410899E">lycée hôtelier de Blois</option>
	  <option value="0180823X">lycée VAUVERT</option>
	</select>
	<input v-model="noSemaine" @change="loadMenu();"/>
	
	<div v-if="erreur">
		{{ erreur }}
	</div>
	

	<header  v-if="menuSemaine">Menu Cantine: <span>du {{ debutPeriode }}</span><span> au {{ finPeriode }}</span></header>
	 <modal v-if="showModal" @close="showModal = false" v-bind:plat="plat" v-bind:gemrcn_list="gemRcnData">
	 </modal>
	 
	<section v-if="menuSemaine" class="semaine" >

	<article  v-for="jour in jours" v-bind:class="['jour', jour.typeVide, jour.jour]"> 
			<header><span class="name" >{{ jour.jour }}</span>
					
					<div><span class="date">{{ jour.date }}</span></div>
			</header>
			<main>
				<article class="service" v-for="service in jour.destinations">
			  		<header><span>{{ service.name }}</span></header>
				<ul>
						<li v-for="partie in service.menu" 
									v-bind:class="['partie', 'rank'+partie.rank, partie.typeVide]" >
								<header><span >{{ partie.choix[0].family }}</span></header>
								<ul>
									<li v-bind:class="['choix', choix.typeVide]"   
									v-for="choix in partie.choix"> 
									<a v-if="choix.nutritions || choix.gemrcn " @click="displayModal(choix)">
										<span>
											<span v-for="code_gemrcn in choix.gemrcn" :style="'background-color:' + gemRcnData[code_gemrcn].color + '; width:1em;'">&nbsp;</span>
											<span>{{ choix.name }}</span>
											<span v-if="choix.nutritions">*</span>
										</span>
									</a>
									<span v-else>{{ choix.name }}</span>
									</li>
								</ul>	
						</li> 
					
					</ul>
				</article>
				
			</main>
	</article>
	</section>
</div>

<script src="js/menuCantine.js"></script>

</body>


