<head>
		<meta charset="utf-8">
</head>
<!--  chargement de vueJs il faut sans doute le trouver aure part ->
<script src="https://unpkg.com/vue"></script -->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production version, optimized for size and speed ->
<script src="https://cdn.jsdelivr.net/npm/vue"></script -->
<link 	rel="stylesheet" 
		type="text/css" 
		href="css/menu-cantine.css"/>
<body>
<a href="api/hello" type="application/json" target="json">json</a>

<script type="text/x-template" id="modal-template">
	<transition name="modal">
		<div class="modal-mask">
      		<div class="modal-wrapper">
        		<div class="modal-container">
					<span>{{ plat.name }}</span>
					<ul>
						<li v-for="elem in plat.nutritions">
							<span>{{ elem.name }}:</span><span>{{ elem.value }}:</span><span>{{ elem.unit }}:</span>
						</li>
					</ul>
              		<button class="modal-default-button" @click="$emit('close')">X</button>
				</div>
			</div>
		</div>
	</transition>
</script>

<div id="menucantine">


	<header>Menu Cantine: <span>du {{ debutPeriode }}</span><span> au {{ finPeriode }}</span></header>
	 <modal v-if="showModal" @close="showModal = false" v-bind:plat="plat">
	 </modal>
	 
	<section class="semaine" >
	<article  v-for="jour in jours" v-bind:class="['jour', jour.typeVide, jour.jour]"> 
			<header><span class="name" >{{ jour.jour }}</span>
					
					<div><span class="date">{{ jour.date }}</span></div>
			</header>
			<main>
				<article class="service" v-for="service in jour.destinations">
			  		<header><span>{{ service.name }}</span></header>
			<!--		<main>						
						<article 	v-for="partie in service.menu" 
									v-bind:class="['partie', 'rank'+partie.rank]" >
						<header class='{{  partie.typeVide }}'><h1>{{ partie.choix[0].family }} {{ partie.typeVide }}</h1></header>
						<article 	class="choix" 
									v-for="choix in partie.choix"> {{ choix.name }}{{ choix.typeVide }}</article>
						</article>
					</main>
			-->		<ul>
						<li v-for="partie in service.menu" 
									v-bind:class="['partie', 'rank'+partie.rank, partie.typeVide]" >
								<header><span >{{ partie.choix[0].family }}</span></header>
								<ul>
									<li v-bind:class="['choix', choix.typeVide]"   
									v-for="choix in partie.choix"> 
									<a v-if="choix.nutritions" @click="displayModal(choix)"><span>{{ choix.name }}*</span></a>
									<span v-else>{{ choix.name }}</span>
									</li>
								</ul>	
						</li> 
					
					</ul>
				</article>
				
			</main>
	
	</article>
	</section>
</div>



</body>

<script>
//	var data = new FormData();
//	data.append( "json", JSON.stringify({content: 'testPost'}));
	
	var initPost = {  
			headers: {
				'Accept': 'application/json',
	      		'Content-Type': 'application/json',
	      		'X-COM-PERSIST': 'TRUE',
	    	},
	    	method: 'post', 
	    	credentials: "same-origin",
	 //   	mode: "cors",
	    	body: '{"semaine": 6, "annee": 2019, "uai": "0180823X" }',
	    };
	var initGet = { method: 'GET', };
	
	var  laModal = {
		 data: function (){ 
				return { nutData:[{'name': 'test', 'value': 'val', 'unit':'u'}], };
		 	},
		  template: '#modal-template',
		 
		 props: [ 'plat'],
		};

	
	
	const menuCantine = new Vue({
		el: '#menucantine',
		data: {	
			menuSemaine: '',
			debutPeriode: '',
			finPeriode: '',
			jours: '',
			plat: '',
			showModal: false,
		},
		
		components: {
			'modal' : laModal,
		},
		
		created () {
			 fetch('api/hello', initPost)
				.then(response => response.json())
				.then(json => {
						this.menuSemaine = json;
						this.debutPeriode = json.debut;
						this.finPeriode = json.fin;
						this.jours = json.jours;
					}
				);
		},
		methods: {
			displayModal: function (plat) {
				//$modal.setNut(nut);
				this.plat = plat;
				console.log(this.plat);
				this.showModal = true;
			}
		}

	})
</script>
