

.semaine {
	font-size: 80%;
	display: flex;
	flex-wrap: wrap;
	span {
		display: table;
		margin: auto;
	}
	.vide1, .vide2, .vide3 {
		display : none;
	}
	
	article.jour {
		border: 1px solid red;
		flex: auto;
		width: 10%;
		min-width: 250px;
		
		> header > span {
			font-weight: bold;
		}
		
		article.service {
			margin-top:0.5em;
		}
		
		ul {
			padding: 0;
			margin: 0;
			
		}
		
		li.partie {
			margin-top: 1em;
			font-size: 95%;
			list-style-type: none;
			> span {
				font-weight: bold;
			}
			span {
				height: 1em;
				margin-height :0;
				margin-top:0;
			}
			
			li.choix {
				
				margin-top:0.5em;
				height: 1em;
				font-size: 100%;
				list-style-type: none;
			} 
		}
	}
}


@media (min-width: 620px) and (max-width: 921px){
	.semaine {
		.vide3 {
			display : block;
		}
	}
}

@media (min-width: 922px) and (max-width: 1200px){
	.semaine  {
		.vide2 {
			display : block;
		}		
	}
}

@media (min-width: 1200px) {
	.semaine {
		.vide1  {
			display : block;
		}
	}
}



