div#menucantine {
	> header {
		font-size: 110%;
		white-space: pre-wrap;
		span {
			white-space: nowrap;
		}
	}
	.semaine {
		font-size: 80%;
		display: flex;
		flex-wrap: wrap;
		span {
			display: table;
			margin: auto;
		}
		.vide1, .vide2, .vide3 {
			display : none;
		}
		
		article.jour {
			border: 0px solid red;
			margin-top: 1em;
			flex: auto;
			width: 10%;
			min-width: 250px;
			
			> header {
				> span {
					font-size: 110%;
					font-weight: bold;
					&.name {
						text-transform: capitalize;
					}
				}
			}
			article.service {
				margin-top:0.5em;
			}
			
			ul {
				padding: 0;
				margin: 0;
				
			}
			
			li.partie {
				margin-top: 2em;
				font-size: 95%;
				list-style-type: none;
				> span {
					font-weight: bold;
				}
				span {
					height: 1em;
					margin-height :0;
					margin-top:0;
				}
				
				li.choix {
					
					margin-top:0.5em;
					height: 1em;
					font-size: 100%;
					list-style-type: none;
				} 
			}
		}
		.lundi header {
			background-color: #ce9f45;
			color:White;
		}
		.mardi header {
			background-color: #b04f46;
			color:White;
		}
		.mercredi header {
			background-color: #b02a6f;
			color:White;
		}
		.jeudi header {
			background-color: #682c72;
			color:White;
		}
		.vendredi header {
			background-color: #353f7c;
			color:White;
		}
		.samedi header {
			background-color: #61998a;
			color:White;
		}
		.dimanche header {
			background-color: #e8cf80;
			color:White;
		}
		header {
	//		border: 0.5ex solid white;
			margin-left: 8px;
			margin-right : 8px;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
		
		.vide1, .vide2, .vide3 {
			// supprime le bloc de couleur vide
			header {
				background-color: white;
			}
		}
	
}

}
@media (min-width: 520px) and (max-width: 765px){
	div#menuCantine {
	.semaine {
		.vide3 {
			display : block;
		}
	}
	}
}

@media (min-width: 766px) and (max-width: 1299px){
	div#menuCantine {
		max-width: 999px;
		margin-left:auto;
		margin-right:auto;
	
		.semaine  {
			.vide2 {
				display : block;
			}		
		}
	}
}

@media (min-width: 1300px) {
	div#menuCantine {
		max-width: 100%;
		margin-left:auto;
		margin-right:auto;
		
		.semaine {
			.vide1  {
				display : block;
			}
		}
	}
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;


.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
}
}